@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, #1e0141 0%, #030168 100%);
}

::selection {
  background: #020069;

}

.tudo {
  background: #fff;
  max-width: 360px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

}

.tudo form .title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}

.tudo form .title:before {
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #1e0141 0%, #040275 100%);
}

.tudo form .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}

.tudo form .input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}

.tudo form .underline {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #1e0141 0%, #03008f 100%);
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

.tudo form .input-box input:focus~.underline::after,
.tudo form .input-box input:valid~.underline::after {
  transform: scaleX(1);
  transform-origin: left;
}

.tudo form .button {
  margin: 40px 0 20px 0;
}

.tudo .input-box input[type="submit"] {
  background: linear-gradient(to right, #1e0141 0%, #03008f 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tudo .input-box input[type="submit"]:hover {
  letter-spacing: 1px;
  background: linear-gradient(to right, #1e0141 0%, #03008f 100%);
}

.tudo .Texto {
  font-size: 14px;
  text-align: center;
}

.tudo .facebook a,
.tudo .twitter a {
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.tudo .facebook i,
.tudo .twitter i {
  padding-right: 12px;
  font-size: 20px;
}

.tudo .twitter a {
  background: linear-gradient(to right, #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}

.tudo .twitter a:hover {
  background: linear-gradient(to left, #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}

.tudo .facebook a {
  background: linear-gradient(to right, #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}

.tudo .facebook a:hover {
  background: linear-gradient(to left, #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}

.required {
  display: none;
  color: rgb(255, 62, 62);
  font-size: 0.9rem;
}

#msg_erro {
  text-align: center;
  color: #FF0000;
  background-color: #ffbbbb;
  padding: 10px;
  margin-bottom: 0.6rem;
  border-radius: 4px;
  width: 100%;
  display: none;
}

#msg_sucesso {
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  margin-bottom: 0.6rem;
  border-radius: 4px;
  width: 100%;
  display: none;
}